@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* smallest height it can go else add scroll */
}

.image-container{
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
}

.img-column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.img-column img{
    width: 100%;
    padding: 10px;
    border-radius: 40px;
}

img:hover {
    filter: brightness(0.7);
    cursor: pointer;
}
  
.header{
    display: flex;
    width: 100%;
    padding: 25px 25px;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    position: sticky;
    top: 0;
    background-color: white;
}

.icon{
    height: 32px;
    width: 32px;
}

.search-icon{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.profile{
    border-radius: 32px;
}
  
ul{
    list-style-type: none;
    display: flex;
    padding:0px 10px;
    align-items: center;
}

li{
    padding: 15px 15px;
    font-size: 17px;
}

.search-bar{
    display: flex;
    width: 800px;
    padding-left: 25px;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 32px;
    height: 50px;
}

.nav-icon{
    margin: 0px 8px;
    height: 28px;
    width: 28px;
}

.nav-icons{
    margin-left: 10px;
}

.arrow-icon{
    width: 32px;
    height: 32px;
}

li:hover{
    background-color: #111111;
    color: #E9E9E9;
    padding: 15px 15px;
    border-radius: 25px;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
}
::placeholder{
    font-size: 16px;
    color: #5F5F5F;
    font-weight: 500;
}